<html>
<head>
    <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/MarkerCluster.css">
            <link rel="stylesheet" href="static/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='leaflet.markercluster.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

</head>
<body>
    <div id="map"></div>

    <script>
        window.markerTrack = []

        function log_bounds(e) {
        var bounds = map.getBounds();
        console.log(bounds);
        retrieve_data(JSON.stringify(bounds))
        }

        function plot_marker(data) {
        data_json = JSON.parse(data)
        var markers = new L.MarkerClusterGroup();
        for (var i=0; i < data_json.length; i++) {
           //console.log(data_json[i])
            //var mark = L.marker([data_json[i].lat, data_json[i].long]);
            markers.addLayer(L.marker([data_json[i].lat, data_json[i].long]));
           // mark.addTo(map).bindPopup('{Test Event}<br>{www.testurl.ole}');
        }
        map.addLayer(markers);
        }

        function marker_list(data) {
        data_json = JSON.parse(data)
        for (var i=0; i < data_json.length; i++) {
           window.markerTrack.push(data_json[i])
        }
        }

        function retrieve_data(bounds) {
            $.ajax({
            type: 'POST',
            data: {
            bounds: bounds
            },
            url: "/retrieve_data",
            success: function(response){
            plot_marker(response)
            marker_list(response)
            },
            error: showError
            });
            };
        function showError() {
            alert("failure");
            }

        var map = L.map('map').setView([36.719444,-4.42], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'}).addTo(map);
        //var mark = L.marker([{{lat}}, {{long}}]);
        //mark.addTo(map).bindPopup('{Test Event}<br>{www.testurl.ole}');
        map.on('moveend', log_bounds);
        L.Control.geocoder({defaultMarkGeocode: false}).addTo(map);
        window.onload = log_bounds

    </script>
        <script>


    </script>
</body>
</html>
